.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    font-family: Special Elite;
    font-weight: 700;
    padding: 0px;
    background-color: #333;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
}
@media(max-width:768px){
.navbar{
    width:100%;
}
}

.logo{
display: inline-flex;
width: 50px;
float: left;
height: 50px;
margin: 2px 0px 2px 0px;
padding: 2px 0px 2px 0px;
border: 1px solid #333;
border-radius: 50px;
}
.logoSection{
padding:0px 120px;
}
/* .menu-bars{
margin-left: 2rem;
font-size: 2rem;
background:none;
} */

.nav-menu{
background-color: #333;
display: flex;
justify-content: space-around;
align-items: center;
text-decoration: none;
width: 650px; 

}
.nav-menu-items{
white-space: nowrap;
}

.nav-text{
display:inline-flex;
font-size: 1.4rem;
padding-top: 15px;
justify-content: space-around;
align-items: center;
text-decoration: none;
white-space: nowrap;
width: 150px; 
} 

.nav-text span{
color: limegreen;  
}
.nav-text span:hover{
color: rgb(205, 240, 48);
opacity: 0.9;
font-size: 1.3rem;
}